<!--変数を新たに設定（コードを楽にするため）-->
<% place = models.last %>

<!--都道府県のレコードよりさきに地方のレコードを取り出している：includes-->
<% prefectures = Prefecture.includes(:area) %>

<!--地方IDデータが存在していた場合、都道府県セレクトボックスの中身を対応したものにして、存在しなかった場合は空で返す-->
<!--ここで新規フォームと編集フォームのIf文（ place.prefecture_id ?）追加したことによって両方のページで共通フォームを使用可能になっている-->
<% target_prefectures = place.prefecture_id ? prefectures.where('areas.id': place.prefecture.area_id).map{|o| [o.name, o.id] } : [] %>

<!--adminでもuserでも両方で共通の部分テンプレートを使用するための記述-->
<!--(models.first == :admin ? models : place)でどっちがログインしているか判断-->
<%= form_with model: (models.first == :admin ? models : place), local: true  do |f| %>

  <!--バリデーションの部分テンプレート-->
  <!--formからmodelobjectを抜き出す-->
  <%= render "layouts/error_messages", model: f.object %>

  <!--フォーム内の関連する入力フィールドやラベルをまとめてグループ化、フォームをスタイリッシュにレイアウトしたり、<label>を使用してフォームと対応するラベルを関連付ける-->
  <div class="form-group">
    <!--画像サイズのブートストラップ-->
    <div class="w-50">
    <%= f.label :寺社画像 %>
      <% if place.image.attached? %>
        <%= image_tag place.image, style: "max-width: 200px;", id: 'imagePreview', class: "img-fluid mb-3" %>
      <% else %>
        <%= image_tag "no_image.jpg", id: 'imagePreview', class: "img-fluid mb-3" %>
      <% end %>
    </div>
    <%= f.file_field :image, id: "imageField" %>
  </div>

  <div class="form-group">
    <%= f.collection_radio_buttons :category, Place.categories_i18n, :first, :last do |b| %>
      <%= b.label(class: "mr-2") { b.radio_button(class: "mr-1") + b.text } %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :地方 %><font color="red">*必須</font>
    <!--f.selectを使用するときは機能とHTML要素に{ }をつけてあげないとブートストラップが反映-->
    <%= f.select :area_id, Area.all.collect { |area| [area.name, area.id] }, { prompt: "地方を選択してください", selected: place.prefecture&.area_id }, { class: "form-control", id: "area-select" } %>
    </div>

  <div class="form-group">
    <%= f.label :都道府県 %><font color="red">*必須</font>
    <%= f.select :prefecture_id, options_for_select(target_prefectures), { prompt: "都道府県を選択してください", selected: place.prefecture_id },
                                                            { class: "form-control", id: "prefecture-select",
                                                              data: { json: (prefectures.map{|o| { id: o.id, name: o.name, area_id: o.area.id } }).to_json }
                                                            } %>
  </div>

  <div class="form-group">
    <%= f.label :寺社名 %><font color="red">*必須</font>
    <%= f.text_field :name, placeholder: "寺社名", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :市区町村 %><font color="red">*必須</font>
    <%= f.text_field :address, placeholder: "市区町村から記入してください", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :電話番号 %>
    <%= f.text_field :phone_number, placeholder: "0000000", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :御祭神 %>
    <%= f.text_field :got, placeholder: "主祭神を記入してください", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :宗派 %>
    <%= f.text_field :sect, placeholder: "宗派", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :御朱印の種類 %><font color="red">*必須</font>
    <!--invertでkeyとvalueを入れ替えることで日本語化に成功-->
    <%= f.select :goshuin_status, Place.goshuin_statuses_i18n.invert, { prompt: "選択してください" }, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :ペット %><font color="red">*必須</font>
    <%= f.select :pet_status, Place.pet_statuses_i18n.invert, { prompt: "選択してください" }, { class: "form-control" } %>
  </div>

  <!--送信フォームここで名前はつけられていないので、表示したいViewの部分テンプレート呼び出し後に記述する-->
  <%= f.submit submit, class: "btn btn-primary" %>
<% end %>