<!--管理者側神社・お寺投稿ページ-->
<div class="container o-8column">
  <div class="row">
    <h1>神社・仏閣投稿ページ</h1>

    <%= form_with model: @place, url: admin_places_path, method: :post, html: { multipart: true } do |form| %>
      <div class="form-group">
        <%= form.label :寺社画像 %>
        <% if @place.image.attached? %>
          <%= image_tag @place.image, style: "max-width: 200px;" %>
        <% else %>
          <%= "No image available" %>
        <% end %>
        <%= form.file_field :image %>
      </div>

      <div class="form-group">
        <%= form.radio_button :category, 0, checked: true %>
        <%= form.label :category, Place.categories_i18n[:shrine] %>
        <%= form.radio_button :category, 1 %>
        <%= form.label :category, Place.categories_i18n[:temple] %>
      </div>

      <div class="form-group">
        <%= form.label :地方 %>
        <!--form.selectを使用するときは機能とHTML要素に{ }をつけてあげないとブートストラップが反映-->
        <%= form.select :area_id, Area.all.collect { |area| [area.name, area.id] }, { prompt: "地方を選択してください" }, { class: "form-control", id: "area-select" } %>
      </div>

      <div class="form-group">
        <%= form.label :都道府県 %>
        <%= form.select :prefecture_id, options_for_select([]), { prompt: "都道府県を選択してください" }, { class: "form-control", id: "prefecture-select" } %>
      </div>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :住所 %>
        <%= form.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :電話番号 %>
        <%= form.text_field :phone_number, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :御祭神 %>
        <%= form.text_field :got, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :宗派 %>
        <%= form.text_field :sect, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :御朱印の種類 %>
        <!--invertでkeyとvalueを入れ替えることで日本語化に成功-->
        <%= form.select :goshuin_status, Place.goshuin_statuses_i18n.invert, { prompt: "選択してください" }, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label :ペット %>
        <%= form.select :pet_status, Place.pet_statuses_i18n.invert, { prompt: "選択してください" }, { class: "form-control" } %>
      </div>

      <%= form.submit "投稿", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

<!--能動的なセレクトボックス-->
<script>
const areaSelect = document.getElementById('area-select');
  const prefectureSelect = document.getElementById('prefecture-select');
  const prefecturesByArea = JSON.parse('<%== Prefecture.includes(:area).map{|o| { id: o.id, name: o.name, area_id: o.area.id } }.to_json %>');

  function updatePrefectureOptions() {
    const selectedArea = areaSelect.value;
    const prefectures = prefecturesByArea.filter((o)=> o.area_id == selectedArea);

    // 都道府県のセレクトボックスを更新します
    prefectureSelect.innerHTML = '<option value="">都道府県を選択してください</option>';
    prefectures.forEach(function(prefecture) {
      prefectureSelect.innerHTML += `<option value="${prefecture.id}">${prefecture.name}</option>`;
    });
  }

  // 地方が変更されたときに都道府県のセレクトボックスを更新します
  areaSelect.addEventListener('change', function() {
    updatePrefectureOptions();
  });
  </script>