<!--新規投稿＆検索サイドバー-->
<!--a_sideのJavaScript適用-->
<%= javascript_pack_tag 'a_side' %>
<!--custom.CSS適用-->
<%= stylesheet_link_tag "custom", :media => "all" %>

<% if user_signed_in? %>
  <h2 class="text-center">新規投稿</h2>
  <!--d-flexで設定、justify-content-around均等割-->
  <div class="d-flex justify-content-around">
    <%= link_to image_tag("place_new.png", size: "150x150"), new_place_path %>
    <%= link_to image_tag("godyuinn_new.png", size: "150x150"), new_goshuin_path %>
  </div>
<% elsif admin_signed_in? %>
  <h2 class="text-center">新規投稿</h2>
  <div class="text-center">
    <%= link_to image_tag("place_new.png", size: "150x150"), new_admin_place_path %>
  </div>
<% end %>

<h2 class=" text-center">検索めにゅう</h2>

<!--キーワード検索-->
<div class="search text-center mt-4 md-3" >
  <%= form_with model: q, method: :get, url: search_path do |f| %>
    <div class="form-group">
      <!--検索するカラム-->
      <%= f.search_field :name_or_address_or_postcode_or_phone_number_cont, placeholder: "きぃわぁど検索" %>
      <%= f.button type: :submit, class: "search-button" do %>
        <i class="fa-solid fa-magnifying-glass" style="color: #17d0d3;"></i>
      <% end %>
    </div>
  <% end %>
</div>

<div class="search">
  <!--絞り込み検索　form_withで囲んであげることによって絞り込み検索が可能-->
  <%= form_with model: q, method: :get, url: search_path do |f| %>
    <div class="form-group">
      <%= f.label "" %>
      <!--モデルの中のenmuカラムの中身をKeyとvarで分けて、繰り返しチェックボックスを作成する処理-->
      <% Place.categories.each do |k, v| %>
        <!--label_tagでチェックボックスと文字を囲むことで文字を押してもチェックが入るようになる-->
        <%= label_tag do %>
          <!--_inは完全一致。チェックが入ったら検索-->
          <%= check_box_tag "q[category_in][]", v %>
          <!--表示するenumのkeyをGemを使用しないで日本語化して表示-->
          <span><%= t "enums.place.category.#{k}" %></span>
        <% end %>
      <% end %>
    </div>

    <!--地方検索-->
    <div class="japan_map">
      <%= image_tag "Map_of_Japan.png", alt: "日本地図", class:"w-100" %>
      <span class="area_btn area1" data-area="1">北海道・東北</span>
      <span class="area_btn area2" data-area="2">関東</span>
      <span class="area_btn area3" data-area="3">中部</span>
      <span class="area_btn area4" data-area="4">近畿</span>
      <span class="area_btn area5" data-area="5">中国・四国</span>
      <span class="area_btn area6" data-area="6">九州・沖縄</span>

      <!--都道府県検索-->
      <div class="area_overlay"></div>
      <div class="pref_area">
        <!--北海道・東北地方-->
        <% Area.includes(:prefectures).each do |area| %>
          <div class="pref_list" data-list="<%= area.id %>">
            <% area.prefectures.each do |prefecture| %>
              <div data-id="<%= prefecture.id %>">
                <%= label_tag do %>
                  <%= prefecture.name %>
                  <%= check_box_tag "q[prefecture_in][]", prefecture.name %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <!--御朱印の種類チェックボックス-->
    <div class="form-group mt-5">
      <!--   チェックボックスの表示切替ボタン   -->
      <div class="checkbox-toggle mt-3 ml-auto mr-auto" id="kindButton">
        御朱印の種類<br>
        <font color="gray">▼</font>
      </div>
      <%= f.label "" %>
      <!--チェックボックスの表示と非表示を切り替えるためのコンテナ-->
      <div class="checkboxes" id="kindButtonCheckboxes" style="display: none;">
        <% Place.goshuin_statuses.each do |k, v| %>
          <%= label_tag do %>
            <%= check_box_tag "q[goshuin_status_in][]", v %>
            <span><%= t "enums.place.goshuin_status.#{k}" %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <!--ペットチェックボックス-->
    <div class="form-group">
      <!--   チェックボックスの表示切替ボタン   -->
      <div class="checkbox-toggle mt-3 ml-auto mr-auto" id="petButton">
        ぺっと<br>
        <font color="gray">▼</font>
      </div>
      <%= f.label "" %>
      <!--チェックボックスの表示と非表示を切り替えるためのコンテナ-->
      <div class="checkboxes" id="petButtonCheckboxes" style="display: none;">
        <% Place.pet_statuses.each do |k, v| %>
          <%= label_tag do %>
            <%= check_box_tag "q[pet_status_in][]", v %>
            <span><%= t "enums.place.pet_status.#{k}" %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- 選択した検索条件を表示 -->
    <% if @selected_conditions.present? %>
      <p>選択した検索条件：</p>
      <ul>
        <% @selected_conditions.each do |key, value| %>
          <% if value.present? %>
            <li><strong><%= key.to_s.humanize %>:</strong> <%= value %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <!--検索完了ボタン-->
    <div class="search-done-btn">
      <%= f.submit "検索開始", class: "btn-default btn-red" %>
      <%= f.button "りせっと", type: "reset", class: "btn-default btn-gray" %>
    </div>
  <% end %>
</div>