<!--新規投稿＆検索サイドバー-->
<!--a_sideのJavaScript適用-->
<%= javascript_pack_tag 'a_side' %>
<!--custom.CSS適用-->
<%= stylesheet_link_tag "custom", :media => "all" %>

<% if user_signed_in? %>
  <h2 class="text-center">新規投稿</h2>
  <!--d-flexで設定、justify-content-around均等割-->
  <div class="d-flex justify-content-around">
    <%= link_to image_tag("place_new", size: "150x150"), new_place_path %>
    <%= link_to image_tag("godyuinn_new", size: "150x150"), new_goshuin_path %>
  </div>
<% elsif admin_signed_in? %>
  <h2 class="text-center">新規投稿</h2>
  <div class="text-center">
    <%= link_to image_tag("place_new", size: "150x150"), new_admin_place_path %>
  </div>
<% end %>

<h2 class=" text-center">検索めにゅう</h2>

<div class="search" >
  <!--キーワード検索-->
  <%= form_with model: q, method: :get, url: search_path do |f| %>
    <div class="form-group">
      <!--検索するカラム-->
      <%= f.search_field :name_or_address_or_postcode_or_phone_number_cont, placeholder: "きぃわぁど検索" %>
      <%= f.button type: :submit, class: "search-button" do %>
        <i class="fa-solid fa-magnifying-glass" style="color: #17d0d3;"></i>
      <% end %>
    </div>
  <% end %>
</div>

<div class="search">
  <!--絞り込み検索　form_withで囲んであげることによって絞り込み検索が可能-->
  <%= form_with model: q, method: :get, url: search_path do |f| %>
    <div class="form-group">
      <%= f.label "" %>
      <!--モデルの中のenmuカラムの中身をKeyとvarで分けて、繰り返しチェックボックスを作成する処理-->
      <% Place.categories.each do |k, v| %>
        <!--label_tagでチェックボックスと文字を囲むことで文字を押してもチェックが入るようになる-->
        <%= label_tag do %>
          <!--_inは完全一致。チェックが入ったら検索-->
          <%= check_box_tag "q[category_in][]", v %>
          <!--表示するenumのkeyをGemを使用しないで日本語化して表示-->
          <span><%= t "enums.place.category.#{k}" %></span>
        <% end %>
      <% end %>
    </div>

    <!--地方検索-->
    <div class="japan_map">
      <%= image_tag "Map_of_Japan.png", alt: "日本地図", class:"w-100" %>
      <span class="area_btn area1" data-area="1">北海道・東北</span>
      <span class="area_btn area2" data-area="2">関東</span>
      <span class="area_btn area3" data-area="3">中部</span>
      <span class="area_btn area4" data-area="4">近畿</span>
      <span class="area_btn area5" data-area="5">中国・四国</span>
      <span class="area_btn area6" data-area="6">九州・沖縄</span>

      <!--都道府県検索-->
      <div class="area_overlay"></div>
      <div class="pref_area">
        <!--北海道・東北地方-->
        <div class="pref_list" data-list="1">
          <div data-id="1">北海道</div>
          <div data-id="2">青森県</div>
          <div data-id="3">岩手県</div>
          <div data-id="4">宮城県</div>
          <div data-id="5">秋田県</div>
          <div data-id="6">山形県</div>
          <div data-id="7">福島県</div>
          <div></div>
        </div>

        <!--関東地方-->
        <div class="pref_list" data-list="2">
          <div data-id="8">茨城県</div>
          <div data-id="9">栃木県</div>
          <div data-id="10">群馬県</div>
          <div data-id="11">埼玉県</div>
          <div data-id="12">千葉県</div>
          <div data-id="13">東京都</div>
          <div data-id="14">神奈川県</div>
          <div></div>
        </div>

        <!--中部地方-->
        <div class="pref_list" data-list="3">
          <div data-id="15">新潟県‎</div>
          <div data-id="16">富山県‎</div>
          <div data-id="17">石川県‎</div>
          <div data-id="18">福井県‎</div>
          <div data-id="19">山梨県‎</div>
          <div data-id="20">長野県‎</div>
          <div data-id="21">岐阜県</div>
          <div data-id="22">静岡県</div>
          <div data-id="23">愛知県‎</div>
          <div></div>
        </div>

        <!--近畿地方-->
        <div class="pref_list" data-list="4">
          <div data-id="24">三重県</div>
          <div data-id="25">滋賀県</div>
          <div data-id="26">京都府</div>
          <div data-id="27">大阪府</div>
          <div data-id="28">兵庫県</div>
          <div data-id="29">奈良県</div>
          <div data-id="30">和歌山県</div>
          <div></div>
        </div>

        <!--中国・四国地方-->
        <div class="pref_list" data-list="5">
          <div data-id="31">鳥取県</div>
          <div data-id="32">島根県</div>
          <div data-id="33">岡山県</div>
          <div data-id="34">広島県</div>
          <div data-id="35">山口県</div>
          <div data-id="36">徳島県</div>
          <div data-id="37">香川県</div>
          <div data-id="38">愛媛県</div>
          <div data-id="39">高知県</div>
          <div></div>
        </div>

        <!--九州・沖縄地方-->
        <div class="pref_list" data-list="6">
          <div data-id="40">福岡県</div>
          <div data-id="41">佐賀県</div>
          <div data-id="42">長崎県</div>
          <div data-id="43">熊本県</div>
          <div data-id="44">大分県</div>
          <div data-id="45">宮崎県</div>
          <div data-id="46">鹿児島県</div>
          <div data-id="47">沖縄県</div>
        </div>
      </div>
    </div>

    <!--御朱印の種類チェックボックス-->
    <div class="form-group">
      <!--   チェックボックスの表示切替ボタン   -->
      <div class="checkbox-toggle mt-3 ml-auto mr-auto" id="kindButton">
        御朱印の種類<br>
        <font color="gray">▼</font>
      </div>
      <%= f.label "" %>
      <!--チェックボックスの表示と非表示を切り替えるためのコンテナ-->
      <div class="checkboxes" id="kindButtonCheckboxes" style="display: none;">
        <% Place.goshuin_statuses.each do |k, v| %>
          <%= label_tag do %>
            <%= check_box_tag "q[goshuin_status_in][]", v %>
            <span><%= t "enums.place.goshuin_status.#{k}" %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <!--ペットチェックボックス-->
    <div class="form-group">
      <!--   チェックボックスの表示切替ボタン   -->
      <div class="checkbox-toggle mt-3 ml-auto mr-auto" id="petButton">
        ペット<br>
        <font color="gray">▼</font>
      </div>
      <%= f.label "" %>
      <!--チェックボックスの表示と非表示を切り替えるためのコンテナ-->
      <div class="checkboxes" id="petButtonCheckboxes" style="display: none;">
        <% Place.pet_statuses.each do |k, v| %>
          <%= label_tag do %>
            <%= check_box_tag "q[pet_status_in][]", v %>
            <span><%= t "enums.place.pet_status.#{k}" %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= f.submit "検索開始" %>
  <% end %>
</div>