<!--新規投稿＆検索サイドバー-->
<!--a_sideのJavaScript適用-->
<%= javascript_pack_tag 'a_side' %>
<!--custom.CSS適用-->
<%= stylesheet_link_tag "custom", :media => "all" %>

<% if user_signed_in? %>
  <h2 class="text-center">新規投稿</h2>
  <!--d-flexで設定、justify-content-around均等割-->
  <div class="d-flex justify-content-around">
    <%= link_to image_tag("place_new", size: "150x150"), new_place_path %>
    <%= link_to image_tag("godyuinn_new", size: "150x150"), new_goshuin_path %>
  </div>
<% elsif admin_signed_in? %>
  <h2 class="text-center">新規投稿</h2>
  <div class="text-center">
    <%= link_to image_tag("place_new", size: "150x150"), new_admin_place_path %>
  </div>
<% end %>

<h2 class=" text-center">検索めにゅう</h2>

<!--キーワード検索-->
<div class="search text-center mt-4 md-3" >
  <%= form_with model: q, method: :get, url: search_path do |f| %>
    <div class="form-group">
      <!--検索するカラム-->
      <%= f.search_field :name_or_address_or_postcode_or_phone_number_cont, placeholder: "きぃわぁど検索" %>
      <%= f.button type: :submit, class: "search-button" do %>
        <i class="fa-solid fa-magnifying-glass" style="color: #17d0d3;"></i>
      <% end %>
    </div>
  <% end %>
</div>

<div class="search">
  <!--絞り込み検索　form_withで囲んであげることによって絞り込み検索が可能-->
  <%= form_with model: q, method: :get, url: search_path do |f| %>
    <div class="form-group">
      <%= f.label "" %>
      <!--モデルの中のenmuカラムの中身をKeyとvarで分けて、繰り返しチェックボックスを作成する処理-->
      <% Place.categories.each do |k, v| %>
        <!--label_tagでチェックボックスと文字を囲むことで文字を押してもチェックが入るようになる-->
        <%= label_tag do %>
          <!--_inは完全一致。チェックが入ったら検索-->
          <%= check_box_tag "q[category_in][]", v %>
          <!--表示するenumのkeyをGemを使用しないで日本語化して表示-->
          <span><%= t "enums.place.category.#{k}" %></span>
        <% end %>
      <% end %>
    </div>

    <!--地方検索-->
    <div class="japan_map">
      <%= image_tag "Map_of_Japan.png", alt: "日本地図", class:"w-100" %>
      <span class="area_btn area1" data-area="1">北海道・東北</span>
      <span class="area_btn area2" data-area="2">関東</span>
      <span class="area_btn area3" data-area="3">中部</span>
      <span class="area_btn area4" data-area="4">近畿</span>
      <span class="area_btn area5" data-area="5">中国・四国</span>
      <span class="area_btn area6" data-area="6">九州・沖縄</span>

      <!--都道府県検索-->
      <div class="area_overlay"></div>
      <div class="pref_area">
        <!--北海道・東北地方-->
        <div class="pref_list" data-list="1">
          <div data-id="1">
            <%= label_tag do %>
              北海道
              <%= check_box_tag "q[prefecture_in][]", "北海道" %>
            <% end %>
          </div>
          <div data-id="2">
            <%= label_tag do %>
              青森県
              <%= check_box_tag "q[prefecture_in][]", "青森県" %>
            <% end %>
            </div>
          <div data-id="3">
            <%= label_tag do %>
              岩手県
              <%= check_box_tag "q[prefecture_in][]", "岩手県" %>
            <% end %>
          </div>
          <div data-id="4">
            <%= label_tag do %>
              宮城県
              <%= check_box_tag "q[prefecture_in][]", "宮城県" %>
            <% end %>
          </div>
          <div data-id="5">
            <%= label_tag do %>
              秋田県
              <%= check_box_tag "q[prefecture_in][]", "秋田県" %>
            <% end %>
          </div>
          <div data-id="6">
            <%= label_tag do %>
              山形県
              <%= check_box_tag "q[prefecture_in][]", "山形県" %>
            <% end %>
          </div>
          <div data-id="7">
            <%= label_tag do %>
              福島県
              <%= check_box_tag "q[prefecture_in][]", "福島県" %>
            <% end %>
          </div>
          <div></div>
        </div>

        <!--関東地方-->
        <div class="pref_list" data-list="2">
          <div data-id="8">
            <%= label_tag do %>
              茨城県
              <%= check_box_tag "q[prefecture_in][]", "茨城県" %>
            <% end %>
          </div>
          <div data-id="9">
            <%= label_tag do %>
              栃木県
              <%= check_box_tag "q[prefecture_in][]", "栃木県" %>
            <% end %>
          </div>
          <div data-id="10">
            <%= label_tag do %>
              群馬県
              <%= check_box_tag "q[prefecture_in][]", "群馬県" %>
            <% end %>
          </div>
          <div data-id="11">
            <%= label_tag do %>
              埼玉県
              <%= check_box_tag "q[prefecture_in][]", "埼玉県" %>
            <% end %>
          </div>
          <div data-id="12">
            <%= label_tag do %>
              千葉県
              <%= check_box_tag "q[prefecture_in][]", "千葉県" %>
            <% end %>
          </div>
          <div data-id="13">
            <%= label_tag do %>
              東京都
              <%= check_box_tag "q[prefecture_in][]", "東京都" %>
            <% end %>
          </div>
          <div data-id="14">
            <%= label_tag do %>
              神奈川県
              <%= check_box_tag "q[prefecture_in][]", "神奈川県" %>
            <% end %>
          </div>
          <div></div>
        </div>

        <!--中部地方-->
        <div class="pref_list" data-list="3">
          <div data-id="15">
            <%= label_tag do %>
              新潟県
              <%= check_box_tag "q[prefecture_in][]", "新潟県" %>
            <% end %>
          </div>
          <div data-id="16">
            <%= label_tag do %>
              富山県
              <%= check_box_tag "q[prefecture_in][]", "富山県" %>
            <% end %>
          ‎</div>
          <div data-id="17">
            <%= label_tag do %>
              石川県
              <%= check_box_tag "q[prefecture_in][]", "石川県" %>
            <% end %>
          ‎</div>
          <div data-id="18">
            <%= label_tag do %>
              福井県
              <%= check_box_tag "q[prefecture_in][]", "福井県" %>
            <% end %>
          </div>
          <div data-id="19">
            <%= label_tag do %>
              山梨県
              <%= check_box_tag "q[prefecture_in][]", "山梨県" %>
            <% end %>
          </div>
          <div data-id="20">
            <%= label_tag do %>
              長野県
              <%= check_box_tag "q[prefecture_in][]", "長野県" %>
            <% end %>
          </div>
          <div data-id="21">
            <%= label_tag do %>
              岐阜県
              <%= check_box_tag "q[prefecture_in][]", "岐阜県" %>
            <% end %>
          </div>
          <div data-id="22">
            <%= label_tag do %>
              静岡県
              <%= check_box_tag "q[prefecture_in][]", "静岡県" %>
            <% end %>
          </div>
          <div data-id="23">
            <%= label_tag do %>
              愛知県
              <%= check_box_tag "q[prefecture_in][]", "愛知県" %>
            <% end %>
          </div>
          <div></div>
        </div>

        <!--近畿地方-->
        <div class="pref_list" data-list="4">
          <div data-id="24">
            <%= label_tag do %>
              三重県
              <%= check_box_tag "q[prefecture_in][]", "三重県" %>
            <% end %>
          </div>
          <div data-id="25">
            <%= label_tag do %>
              滋賀県
              <%= check_box_tag "q[prefecture_in][]", "滋賀県" %>
            <% end %>
          </div>
          <div data-id="26">
            <%= label_tag do %>
              京都府
              <%= check_box_tag "q[prefecture_in][]", "京都府" %>
            <% end %>
          </div>
          <div data-id="27">
            <%= label_tag do %>
              大阪府
              <%= check_box_tag "q[prefecture_in][]", "大阪府" %>
            <% end %>
          </div>
          <div data-id="28">
            <%= label_tag do %>
              兵庫県
              <%= check_box_tag "q[prefecture_in][]", "兵庫県" %>
            <% end %>
          </div>
          <div data-id="29">
            <%= label_tag do %>
              奈良県
              <%= check_box_tag "q[prefecture_in][]", "奈良県" %>
            <% end %>
          </div>
          <div data-id="30">
            <%= label_tag do %>
              和歌山県
              <%= check_box_tag "q[prefecture_in][]", "和歌山県" %>
            <% end %>
          </div>
          <div></div>
        </div>

        <!--中国・四国地方-->
        <div class="pref_list" data-list="5">
          <div data-id="31">
            <%= label_tag do %>
              鳥取県
              <%= check_box_tag "q[prefecture_in][]", "鳥取県" %>
            <% end %>
          </div>
          <div data-id="32">
            <%= label_tag do %>
              島根県
              <%= check_box_tag "q[prefecture_in][]", "島根県" %>
            <% end %>
          </div>
          <div data-id="33">
            <%= label_tag do %>
              岡山県
              <%= check_box_tag "q[prefecture_in][]", "岡山県" %>
            <% end %>
          </div>
          <div data-id="34">
            <%= label_tag do %>
              広島県
              <%= check_box_tag "q[prefecture_in][]", "広島県" %>
            <% end %>
          </div>
          <div data-id="35">
            <%= label_tag do %>
              山口県
              <%= check_box_tag "q[prefecture_in][]", "山口県" %>
            <% end %>
          </div>
          <div data-id="36">
            <%= label_tag do %>
              徳島県
              <%= check_box_tag "q[prefecture_in][]", "徳島県" %>
            <% end %>
          </div>
          <div data-id="37">
            <%= label_tag do %>
              香川県
              <%= check_box_tag "q[prefecture_in][]", "香川県" %>
            <% end %>
          </div>
          <div data-id="38">
            <%= label_tag do %>
              愛媛県
              <%= check_box_tag "q[prefecture_in][]", "愛媛県" %>
            <% end %>
          </div>
          <div data-id="39">
            <%= label_tag do %>
              高知県
              <%= check_box_tag "q[prefecture_in][]", "高知県" %>
            <% end %>
          </div>
          <div></div>
        </div>

        <!--九州・沖縄地方-->
        <div class="pref_list" data-list="6">
          <div data-id="40">
            <%= label_tag do %>
              福岡県
              <%= check_box_tag "q[prefecture_in][]", "福岡県" %>
            <% end %>
          </div>
          <div data-id="41">
            <%= label_tag do %>
              佐賀県
              <%= check_box_tag "q[prefecture_in][]", "佐賀県" %>
            <% end %>
          </div>
          <div data-id="42">
            <%= label_tag do %>
              長崎県
              <%= check_box_tag "q[prefecture_in][]", "長崎県" %>
            <% end %>
          </div>
          <div data-id="43">
            <%= label_tag do %>
              熊本県
              <%= check_box_tag "q[prefecture_in][]", "熊本県" %>
            <% end %>
          </div>
          <div data-id="44">
            <%= label_tag do %>
              大分県
              <%= check_box_tag "q[prefecture_in][]", "大分県" %>
            <% end %>
          </div>
          <div data-id="45">
            <%= label_tag do %>
              宮崎県
              <%= check_box_tag "q[prefecture_in][]", "宮崎県" %>
            <% end %>
          </div>
          <div data-id="46">
            <%= label_tag do %>
              鹿児島県
              <%= check_box_tag "q[prefecture_in][]", "鹿児島県" %>
            <% end %>
          </div>
          <div data-id="47">
            <%= label_tag do %>
              沖縄県
              <%= check_box_tag "q[prefecture_in][]", "沖縄県" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!--御朱印の種類チェックボックス-->
    <div class="form-group mt-5">
      <!--   チェックボックスの表示切替ボタン   -->
      <div class="checkbox-toggle mt-3 ml-auto mr-auto" id="kindButton">
        御朱印の種類<br>
        <font color="gray">▼</font>
      </div>
      <%= f.label "" %>
      <!--チェックボックスの表示と非表示を切り替えるためのコンテナ-->
      <div class="checkboxes" id="kindButtonCheckboxes" style="display: none;">
        <% Place.goshuin_statuses.each do |k, v| %>
          <%= label_tag do %>
            <%= check_box_tag "q[goshuin_status_in][]", v %>
            <span><%= t "enums.place.goshuin_status.#{k}" %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <!--ペットチェックボックス-->
    <div class="form-group">
      <!--   チェックボックスの表示切替ボタン   -->
      <div class="checkbox-toggle mt-3 ml-auto mr-auto" id="petButton">
        ぺっと<br>
        <font color="gray">▼</font>
      </div>
      <%= f.label "" %>
      <!--チェックボックスの表示と非表示を切り替えるためのコンテナ-->
      <div class="checkboxes" id="petButtonCheckboxes" style="display: none;">
        <% Place.pet_statuses.each do |k, v| %>
          <%= label_tag do %>
            <%= check_box_tag "q[pet_status_in][]", v %>
            <span><%= t "enums.place.pet_status.#{k}" %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= f.submit "検索開始" %>
  <% end %>
</div>