<!--御朱印編集ページ-->
<!--題名-->
<h2 class="text-center mb-5">御朱印<%= title %></h2>
<%= form_with model: goshuin, url: target_path do |f| %>
  <!--バリデーションの部分テンプレート呼び出し-->
  <%= render "layouts/error_messages", model: f.object %>

  <!--御朱印投稿画像編集-->
  <div class="form-group">
  <!--JavaScriptで動的な画像選択の場合モデルで記述したメソッドが使用できない-->
  <div class="w-100">
    <% if goshuin.image.attached? %>
      <%= image_tag goshuin.image, style: "width: 50;", id: 'imagePreview', class: "img-fluid mb-3" %>
    <% else %>
      <%= image_tag "gosyuin_no_image.png", style: "width: 50;", id: 'imagePreview', class: "img-fluid mb-3" %>
    <% end %>
  </div>
  <!--御朱印投稿画像編集フォーム-->
  <%= f.file_field :image, id: "imageField" %>
</div>

    <!-- 寺社選択ラジオボタン -->
    <div class="form-group mt-3" id="categoryCheckBoxes">
      <%= f.collection_radio_buttons :category, Place.categories_i18n, :first, :last, { checked: goshuin.place&.category || Place.categories_i18n.first[0] }, {} do |b| %>
        <%= b.label(class: "mr-2") { b.radio_button(class: "mr-1") + b.text } %>
      <% end %>
    </div>

    <% prefectures = Prefecture.all %>
    <% prefectures_json = prefectures.map{|prefecture| { id: prefecture.id, name: prefecture.name } }.to_json %>
    
    <div class="form-group mt-3">
      <%= f.collection_select(:prefectures, prefectures, :id, :name, {prompt: "都道府県を選択してください", selected: goshuin.place&.prefecture_id}, {class: 'form-control', 'data-json': prefectures_json, id: 'prefectureSelectForm'}) %>
    </div>

    <% categories = Place.categories_i18n.keys.map(&:to_sym) %>
    <% places = {} %>
    <% categories.each do |o| %>
      <% target = eval("Place.#{o}") %>
      <% places[o] = target.map{|place| { id: place.id, name: place.name, category: place.category, prefecture_id: place.prefecture_id } } %>
    <% end %>
    <% places_json = places.to_json %>

    <!--神社選択フォーム -->
    <div class="form-group"><!-- JavaScriptで能動的なセレクトボックスを作成する為にID設定 -->
      <%= f.label :place, "寺社名<font color='red'>*必須</font>".html_safe %>
      <!--神社のデータをセレクトボックス内に表示-->
      <%= f.select :place_id, Place.all.map{ |place| [place.name, place.id] }, { prompt: "選択してください", selected: goshuin.place&.id }, { class: "form-control", "data-json": places_json, id: "placeSelectForm" } %>
    </div>

    <!--上記セレクトボックスが存在しなかった場合寺社を投稿してもらうためのlink_to-->
    <div class="d-flex mb-3">
      <%= link_to "寺社投稿", new_place_path, class: "btn btn-success mr-1" %>
      <p class="ml-1">選択肢がない場合はお手数ですが寺社投稿お願いします</p>
    </div>

    <!--参拝日カレンダーフォーム-->
    <div class="form-group">
      <%= f.label :参拝日 %>
      <!--f.date_fieldでカレンダーフォーム-->
      <%= f.date_field :visit_day, class: "form-control" %>
    </div>

    <!--御朱印料金フォーム-->
    <div class="form-group">
      <%= f.label :心付け %>
      <%= f.text_field :price, placeholder: "心付け", class: "form-control" %>
    </div>

    <!--御朱印の種類選択セレクトボックス-->
    <div class="form-group">
      <%= f.label :御朱印の種類 %><font color="red">*必須</font>
      <!--invertで送るデータと表示させるデータを反転させる-->
      <%= f.select :goshuin_status, Place.goshuin_statuses_i18n.invert, { prompt: "選択してください" }, { class: "form-control" } %>
    </div>

    <!--投稿メッセージフォーム-->
    <div class="form-group">
      <%= f.label :めっせぇじ %>
      <!--text_area：text_fieldより長い文章を入力できるフォーム-->
      <%= f.text_area :message, placeholder: "ご自由にどうぞ", class: "form-control" %>
    </div>

    <!--投稿・非公開ラジオボタン-->
    <div class="form-group">
      <%= f.collection_radio_buttons :status, Goshuin.statuses_i18n, :first, :last do |b| %>
        <%= b.label(class: "mr-2") { b.radio_button(class: "mr-1") + b.text } %>
      <% end %>
    </div>
      <!--編集ボタン-->
      <%= f.submit title, class: "btn btn-info w-25 mr-5" %>
    <% if params[:action] == "edit" %>
      <!--削除リンク-->
      <% if user_signed_in? %>
        <%= link_to "削除", goshuin_path(goshuin), method: :delete, data: { confirm: "本当に削除してもいいですか?" }, class: "btn btn-danger w-25" %>
      <% elsif admin_signed_in? %>
        <%= link_to "削除", admin_goshuin_path(goshuin), method: :delete, data: { confirm: "本当に削除してもいいですか?" }, class: "btn btn-danger w-25" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= javascript_pack_tag 'goshuin_form' %>

