<!-- ユーザーの御朱印一覧表示 -->
<div class="mb-3">
  <% goshuins.each do |goshuin| %>
    <div class="card-body">
      <p class="card-text">
        <div class="d-flex justify-content-between">
          <div>
            <!-- ユーザーのマイページへのリンク -->
            <%= link_to goshuin.user.nickname, users_mypage_path(id: goshuin.user.id), class: "user-profile-link" %><br>
            <%= goshuin.place.prefecture.name %>
          </div>
          <h5 class="card-title text-center">
            <%= link_to place_path(goshuin.place) do %>
              <%= goshuin.place.name %>
            <% end %>
            <% if admin_signed_in? %>
              <%= link_to admin_place_path(goshuin.place) do %>
                <%= goshuin.place.name %>
              <% end %>
            <% end %>
          </h5>
          <div class="card-text">
            心付け：￥<%= goshuin.price %><br>
            参拝日：<%= goshuin.visit_day %>
          </div>
        </div>
      </p>
      <div class="card-img-bottom">
        <%= image_tag goshuin.get_goshuin_image, alt: 'Place Image', width: 100, height: 100 %>
      </div>
      <p class="card-text mb-5">
        <%= goshuin.message %>
      </p>
      <div>
        <!--ユーザーがログインしていて、かつ本人であった場合のみ表示される-->
        <% if user_signed_in? && goshuin.user == current_user %>
          <%= link_to "編集", edit_goshuin_path(goshuin), class: "btn btn-sm btn-info mt-3" %>
          <%= link_to "削除", goshuin_path(goshuin), method: :delete, data: { confirm: "本当に削除してもいいですか?" }, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- ページネーション -->
<div class="d-flex justify-content-center">
  <div class="pagination">
    <%= paginate goshuins %>
  </div>
</div>
