<header class= "bg-light mt-4">
  <nav class="navbar navbar-expand p-3">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <%= link_to image_tag("syukendou_logo", size: "200x200"), "/" %>
        <ul class="navbar-nav ml-auto">
          <!--userがログインしているか判断-->
          <% if user_signed_in? %>
            <!--ログインしていた場合のヘッダー-->
            <li class="vertical-text text-info">
              <%= link_to root_path, class: "nav-link" do %>
                 <h5>ほぉむ</h5>
              <% end %>
            </li>
            <li class="vertical-text .text-info ">
              <%= link_to places_path, class: "nav-link" do %>
                <h5>いちらん</h5>
              <% end %>
            </il>
            <li class="vertical-text text-info"> <!-- ここで .text-info クラスを適用 -->
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <i class="fa-solid fa-right-from-bracket"></i>
                <h5>ろぐあうと</h5>
              <% end %>

          <!-- adminがログインしているか判断 -->
          <% elsif admin_signed_in? %>
            <li class="vertical-text text-info">
              <%= link_to root_path, class: "nav-link" do %>
                 <h5>ほぉむ</h5>
              <% end %>
            </li>
            <li class="vertical-text .text-info ">
              <%= link_to admin_places_path, class: "nav-link" do %>
                <h5>いちらん</h5>
              <% end %>
            </li>
            <li class="vertical-text .text-info ">
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
                <i class="fa-solid fa-right-from-bracket"></i>
                <h5>ろぐあうと</h5>
              <% end %>
            </li>

          <!--ログインしていない場合-->
          <% else %>
            <li class="vertical-text text-info">
              <%= link_to root_path, class: "nav-link" do %>
                 <h5>ほぉむ</h5>
              <% end %>
            </li>
            <li class="vertical-text .text-info">
              <%= link_to new_user_registration_path, class: "nav-link" do %>
                <i class="fas fa-user-plus"></i>
                <h5>さいんあっぷ</h5>
              <% end %>
            </li>
            <li class="vertical-text .text-info">
              <%= link_to new_user_session_path, class: "nav-link" do %>
                <i class="fa-solid fa-right-to-bracket"></i>
                <h5>ろぐいん</h5>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
