<!--ヘッダーメニュー-->
<ul class="mx-auto mx-lg-0 ml-lg-auto d-flex align-self-center list-unstyled">

  <!--userがログインしているか判断-->
  <% if user_signed_in? %>
    <!--ログインしていた場合のヘッダー-->
    <li class="vertical-text text-info">
      <%= link_to 'ほぉむ', root_path, class: "nav-link" %>
    </li>

    <li class="vertical-text text-info">
      <%= link_to 'まいぺぇじ', users_mypage_path(current_user.id), class: "nav-link" %>
    </li>

    <li class="vertical-text .text-info ">
      <%= link_to '寺社一覧', places_path, class: "nav-link" %>
    </li>

    <li class="vertical-text text-info"> <!-- ここで .text-info クラスを適用 -->
      <%= link_to 'ろぐあうと', destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>

  <!-- adminがログインしているか判断 -->
  <% elsif admin_signed_in? %>
    <li class="vertical-text text-info">
      <%= link_to 'ほぉむ', root_path, class: "nav-link" %>
    </li>

    <li class="vertical-text .text-info ">
      <%= link_to '寺社一覧', admin_places_path, class: "nav-link" %>
    </li>

    <li class="vertical-text .text-info ">
      <%= link_to '会員一覧', admin_users_path, class: "nav-link" %>
    </li>

    <li class="vertical-text .text-info ">
      <%= link_to 'ろぐあう', destroy_admin_session_path, method: :delete, class: "nav-link" %>
    </li>

  <!--ログインしていない場合-->
  <% else %>
    <li class="vertical-text text-info">
      <%= link_to 'ほぉむ', root_path, class: "nav-link" %>
    </li>

    <li class="vertical-text .text-info ">
      <%= link_to '寺社一覧', places_path, class: "nav-link" %>
    </li>

    <li class="vertical-text .text-info">
      <%= link_to 'げすとろぐいん', users_guest_sign_in_path, class: "nav-link", method: :post %>
    </li>

    <li class="vertical-text .text-info">
      <%= link_to 'さいんあっぷ', new_user_registration_path, class: "nav-link" %>
    </li>

    <li class="vertical-text .text-info">
      <%= link_to 'ろぐいん', new_user_session_path, class: "nav-link" %>
    </li>
  <% end %>
</ul>