 <h1>寺社一覧ページ</h1>
<table class='table table-hover table-inverse'>
  <!-- テーブルの題名 -->
  <thead>
    <tr>
      <th></th>
      <th>寺社名</th>
      <th>住所</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <!-- テーブル内容表示 -->
  <tbody>
   <% places.each do |place| %>
    <tr>
      <td>
        <!--どっちがログインしているか判断-->
        <% if user_signed_in? %><!--userがログインしていたら-->
          <%= link_to place_path(place) do %>
            <%= image_tag place.get_place_image, alt: 'Place Image', width: 100, height: 100 %>
          <% end %>
        <% elsif admin_signed_in? %><!--adminがログインしていたら-->
          <%= link_to admin_place_path(place) do %>
            <%= image_tag place.get_place_image, alt: 'Place Image', width: 100, height: 100 %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if user_signed_in? %><!--userがログインしていたら-->
          <%= link_to place.name, place_path(place) %>
        <% elsif admin_signed_in? %><!--adminがログインしていたら-->
          <%= link_to place.name, admin_place_path(place) %></td>
        <% end %>
      <td><%= place.prefecture.name %> <%= place.address %></td>
     </tr>
    <% end %>
  </tbody>
</table>