<!--寺社一覧部分テンプレート-->
<h2 class="text-center">
 <i class="fa-solid fa-torii-gate" style="color: #d9204f;"></i>
 寺社一覧
 <i class="fa-solid fa-vihara" style="color: #1ca68f;"></i>
</h2>

<!--寺社一覧表示each-->
<div class="mb-3">
  <% places.each do |place| %>
    <div class="card-body">
      <h5 class="card-text">
        <% if admin_signed_in? %><!--adminがログインしていたら-->
          <%= link_to place.name, admin_place_path(place) %>
        <% else %>
          <%= link_to place.name, place_path(place) %>
        <% end %>
      </h5>

      <!--地方名/都道府県名表示-->
      <div class="card-text">
        <%= place.prefecture.area.name %>/<%= place.prefecture.name %>
      </div>

      <!--郵便番号＆住所表示-->
      <div class="card-text">
        <div class="row">
          <!--郵便番号-->
          <div class="col-md-3">
            〒<%= place.postcode %>
          </div>
          <!--都道府県名住所-->
          <div class="col-md-9 text-right">
            <%= place.prefecture.name %><%= place.address %>
          </div>
        </div>
      </div>

    <!--画像表示-->
      <div class="card-img-bottom text-center">
        <% if admin_signed_in? %><!--adminがログインしていたら-->
          <%= link_to admin_place_path(place) do %>
            <%= image_tag place.get_place_image, alt: 'Place Image', width: 580, height: 300 %>
          <% end %>
        <% else %>
          <%=  link_to place_path(place) do %>
           <%= image_tag place.get_place_image, alt: 'Place Image', width: 580, height: 300 %>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>

<!-- ページネーション -->
<div class="d-flex justify-content-center">
  <div class="pagination">
    <%= paginate places %>
  </div>
</div>
