<!-- 寺社詳細ページの部分テンプレート -->
<!-- 保存されている寺社名を表示させている -->
 <h1 class="mb-5"><%= place.name %></h1>

<!--画像表示-->
<div class="text-center">
  <%= image_tag place.get_place_image, alt: 'Place Image', class: 'img-fluid' %>
</div>
<!--1段目のデータ表示-->
<ul class="list-unstyled my-5" style="line-height: 2.5;">
  <% unless place.postcode.blank? %>
    <li>〒<%= place.postcode.to_s.insert(3, "-") %></li>
  <% end %>
  <li><%= place.prefecture.name %><%= place.address %></li>
  <% unless place.phone_number.blank? %>
    <li>☎︎ <%= place.phone_number %></li>]
  <% end %>
  <% unless place.start_time.blank? || place.end_time %>
    <li><strong>営業時間:</strong> <%= place.start_time.strftime('%H:%M') %>〜<%= place.end_time.strftime('%H:%M') %></li>
  <% end %>
  <li><strong>拝観料:¥</strong> <%= place.fee %></li>
  <li><strong>御朱印種類:</strong> <%= place.goshuin_status_i18n %></li>
  <li><strong>ぺっと状況:</strong> <%= place.pet_status_i18n %></li>
</ul>

<!--どっちがログインしているか判断-->
<div class="text-right">
  <% if user_signed_in? %><!--userがログインしていたら-->
    <%= link_to "編集", edit_place_path(place), class: "btn btn-sm btn-info w-25 mt-3" %>
  <% elsif admin_signed_in? %><!--adminがログインしていたら-->
    <%= link_to "編集", edit_admin_place_path(place), class: "btn btn-sm btn-info w-25 mt-1" %>
    <%= link_to "削除", admin_place_path(place), method: :delete, data: { confirm: "本当に削除してもいいですか?" }, class: "btn btn-sm btn-danger  w-50" %>
  <% end %>
</div>