<!--寺社一覧部分テンプレート-->
<h2 class="text-center">
 <i class="fa-solid fa-torii-gate" style="color: #d9204f;"></i>
 寺社一覧
 <i class="fa-solid fa-vihara" style="color: #1ca68f;"></i>
</h2>

<div class="mb-3">
  <% places.each do |place| %>
    <div class="card-body">
      <div class="card-text d-flex justify-content-between">
        <% if user_signed_in? %><!--userがログインしていたら-->
          <%= link_to place.name, place_path(place) %>
        <% elsif admin_signed_in? %><!--adminがログインしていたら-->
          <%= link_to place.name, admin_place_path(place) %>
        <% end %>
      </div>

      <div class="card-img-bottom">
        <!--どっちがログインしているか判断-->
        <% if user_signed_in? %><!--userがログインしていたら-->
          <%= link_to place_path(place) do %>
            <%= image_tag place.get_place_image, alt: 'Place Image', width: 100, height: 100 %>
          <% end %>
        <% elsif admin_signed_in? %><!--adminがログインしていたら-->
          <%= link_to admin_place_path(place) do %>
            <%= image_tag place.get_place_image, alt: 'Place Image', width: 100, height: 100 %>
          <% end %>
        <% end %>
      </div>

      <p class="card-text mb-5">
        <% if user_signed_in? %><!--userがログインしていたら-->
          <%= link_to place.name, place_path(place) %>
        <% elsif admin_signed_in? %><!--adminがログインしていたら-->
          <%= link_to place.name, admin_place_path(place) %></td>
        <% end %>
      <td><%= place.prefecture.name %> <%= place.address %></td>
     <p class="card-text mb-5">
    <% end %>
  </div>
</div>