<!--寺社一覧部分テンプレート-->
<h2 class="text-center">
 <i class="fa-solid fa-torii-gate" style="color: #d9204f;"></i>
 寺社一覧
 <i class="fa-solid fa-vihara" style="color: #1ca68f;"></i>
</h2>

<div class="mb-3">
  <% places.each do |place| %>
    <div class="card-body">
      <h5 class="card-text text-center">
        <% if admin_signed_in? %><!--adminがログインしていたら-->
          <%= link_to place.name, admin_place_path(place) %>
        <% else %>
          <%= link_to place.name, place_path(place) %>
        <% end %>
      </h5>

      <div class="card-img-bottom text-center">
        <% if admin_signed_in? %><!--adminがログインしていたら-->
          <%= link_to admin_place_path(place) do %>
            <%= image_tag place.get_place_image, alt: 'Place Image', width: 580, height: 300 %>
          <% end %>
        <% else %>
          <%=  link_to place_path(place) do %>
           <%= image_tag place.get_place_image, alt: 'Place Image', width: 580, height: 300 %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- ページネーション -->
<div class="d-flex justify-content-center">
  <div class="pagination">
    <%= paginate places %>
  </div>
</div>
