<!--寺社一覧部分テンプレート-->
<h2 class="text-center mb-5">
  <i class="fa-solid fa-torii-gate" style="color: #d9204f;"></i>
  <%= title %>一覧
  <i class="fa-solid fa-vihara" style="color: #1ca68f;"></i>
</h2>

<div class="mb-3">
  <div class="mb-3 text-center">
    <%= link_to '都道府県順', places_path(sort_option: 'prefecture') %>&nbsp;|&nbsp;
    <%= link_to '最新順', places_path(sort_option: 'latest') %>&nbsp;|&nbsp;
    <%= link_to '古い順', places_path(sort_option: 'old') %>&nbsp;|&nbsp;
    <%= link_to '御朱印数順', places_path(sort_option: 'goshuin_count') %>
  </div>

  <!--寺社一覧を繰り返し表示-->
  <% places.each do |place| %>
    <div class="card mb-5">
      <div class="card-header">
        <h4 class="card-text text-center">
          <!--adminがログインしていたら-->
          <% if admin_signed_in? %>
            <!--寺社名でadminコントローラーへ-->
            <%= link_to admin_place_path(place) do %>
              <% if place.category == 'shrine' %>
                <i class="fa-solid fa-torii-gate" style="color: #d9204f;"></i>
              <% else %>
                <i class="fa-solid fa-vihara" style="color: #1ca68f;"></i>
              <% end %>
              <%= place.name %>
            <% end %>
          <% else %>
            <!--寺社名userコントローラーへ-->
            <%= link_to place_path(place) do %>
              <% if place.category == 'shrine' %>
                <i class="fa-solid fa-torii-gate" style="color: #d9204f;"></i>
              <% else %>
                <i class="fa-solid fa-vihara" style="color: #1ca68f;"></i>
              <% end %>
              <%= place.name %>
            <% end %>
          <% end %>
        </h4>

        <!--地方名/都道府県名表示-->
        <div class="card-text">
          <!--地方名を押すとその地方だけの一覧を表示-->
          <%= link_to place.prefecture.area.name, places_path(area_id: place.prefecture.area_id) %>/
          <!--都道府県を押すとその都道府県だけの一覧を表示-->
          <%= link_to place.prefecture.name, places_path(prefecture_id: place.prefecture_id) %>
        </div>

        <!--郵便番号＆住所表示-->
        <div class="card-text">
          <div class="row">
            <!--郵便番号-->
            <div class="col-md-3">
              〒<%= place.postcode %>
            </div>
            <!--都道府県名＋住所-->
            <div class="col-md-9 text-right">
              <%= place.prefecture.name %><%= place.address %>
            </div>
          </div>
        </div>
      </div>

        <!--画像表示-->
      <div class="card-body">
        <div class="card-img-bottom text-center w-100">
          <!--adminがログインしていたら-->
          <% if admin_signed_in? %>
            <%= link_to admin_place_path(place) do %>
              <%= image_tag place.get_place_image, alt: 'Place Image', class: "w-100" %>
            <% end %>
          <% else %>
            <!--それ以外-->
            <%=  link_to place_path(place) do %>
             <%= image_tag place.get_place_image, alt: 'Place Image', class: "w-100" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- ページネーション -->
<div class="d-flex justify-content-center">
  <div class="pagination">
    <%= paginate places %>
  </div>
</div>
