<!--ユーザー編集ページ-->
<h2 class="text-center">ゆぅざぁ編集</h2>
<%= form_with model: user, url: target_path, method: :patch do |f| %>
  <!--バリデーションの部分テンプレート-->
  <!--formからmodelobjectを抜き出す-->
  <%= render "layouts/error_messages", model: f.object %>

  <!--アイコン編集-->
  <div class="form-group">
      <!--画像サイズのブートストラップ-->
      <div class="text-center">
        <!--画像カラムが空かどうか判断-->
        <% if @user.image.attached? %><!--入っていた場合-->
          <%= image_tag @user.image, id: 'imagePreview', class: "img-fluid rounded-circle mb-3 profile-img" %>
        <% else %><!--入っていない場合-->
          <%= image_tag "profile_no_image.png", id: 'imagePreview', class: "img-fluid rounded-circle mb-3 profile-img" %>
        <% end %>
      </div>
       <%= f.file_field :image, id: "imageField" %>
    </div>


  <!--ニックネーム編集-->
　   <div class="form-group mt-3">
    <%= f.label :にっくねぇむ %>
    <%= f.text_field :nickname, class: "form-control" %>
  </div>

  <!--自己紹介編集-->
  <div class="form-group mt-3">
    <%= f.label :自己紹介 %>
    <%= f.text_area :introduction, class: "form-control" %>
  </div>

  <!--更新ボタン-->
  <div class="text-center mt-5">
    <%= f.submit '更新', class: "btn btn-info w-25 c-btn" %>
  </div>
<% end %>