<!DOCTYPE html>
<html>
  <head>
    <!--ファビコン-->
    <%= favicon_link_tag('syukendou_logo.png') %>
    <title>Shugendo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/cb1a1fa502.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--  jQueryをCDNで読み込み  -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>

  </head>

  <body>
    <div class="background">
      <!--ヘッダーの部分テンプレート-->
      <div class="header_image">
        <%= render "layouts/header" %>
      </div>

      <div id="js-scroll-top" class="scroll-top"><i class="fas fa-chevron-up"></i></div>

      <!--フッターの位置を下に固定するためのブロック要素-->
      <div class="wrapper">
        <div class="container">
          <main>
            <!--フラッシュメッセージの部分テンプレート-->
            <%= render 'layouts/flash_messages' %>
        　  <%= yield %>
          </main>
        </div>
      </div>
      <!--フッターの部分テンプレート-->
      <%= render "layouts/footer" %>
    </div>
    <%= debug params if Rails.env.development? %>
    <%= current_user.inspect if Rails.env.development? %>
    <%= current_admin.inspect if Rails.env.development? %>
  </body>
</html>